extends ../layout/layout.pug
include ../mixins/utility.pug

block title
  title JSONP Demo

block content 
  +returnBack('JSONP')

  +demoControls('get-jsonp', 'GET')

  .demo-reference
    +usefulList([
      'Needs to support old browsers', 
      'Only needs GET', 
      'Crosses entirely different domains' 
    ])

    +reference({"http://stackoverflow.com/questions/2067472/what-is-jsonp-all-about":"What is JSONP all about?","https://en.wikipedia.org/wiki/JSONP":"JSONP - Wikipedia, the free encyclopedia"})

